<!DOCTYPE>
	<html ng-app="myApp">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
		<title> Welcome to Library Seat Mapping Service</title>
	</head>
	<body>
		<div class="container" ng-controller=AppCtrl>
		<h1> Welcome to Library Seat Mapping Service </h1>
		<br> <br>
		<table class="table">
			<tr>
				<th> Floor No</th>
				<th> Table No. </th>
				<th> Chair 1 </th>
				<th> Chair 2 </th>
				<th> Test</th>
			</tr>
			<tr ng-repeat="data in list">
				<td>{{$index+1}}</td>
				<td>{{data.Table}}</td>

				<td><img ng-show="data.chair1=='Y'" src="images/chair.png" height="250" width="250"><img ng-show="data.chair1=='N'"src="images/chair_occupied.png" height="250" width="250"></td>
				<td><img ng-show="data.chair2=='N'"src="images/chair_occupied.png" height="250" width="250"><img ng-show="data.chair2=='Y'"src="images/chair.png" height="250" width="250"></td>
				<!--  <td> Row 1
					 <td height="100"> Desk1 : <div ng-if=occupied><img src="images/chair_occupied.png" height="250" width="250"></div><div ng-if=!occupied><img src="images/chair.png" height="250" width="250"></div>
					 <td height="100"> Desk3 : <div ng-if=occupied><img src="images/chair_occupied.png" height="250" width="250"></div><div ng-if=!occupied><img src="images/chair.png" height="250" width="250"></div> -->
				<!-- <td>{{data.chair1=='Y'}}{{data.chair2=='Y'}}</td> -->
			</tr>
				
			</thead>
			
			</tbody>
		</table>
		</div>
			<!-- <input ng-model="test">
			{{test}} -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"> </script>
		<script src="js/app.js"></script>
		<script src="js/controllers/controller.js"></script>
	</body>
	</html>